img {
    display: block;
    margin: auto;
    width: 40%;
}
body {
  font-family:Times,Arial,sans-serif;
  font-size:14px;
  background-color:#12607F;
}

h1 {
  font-family:'Diplomata SC',cursive !important;
  font-size:36px;
  text-align:center;
  color:white;
  border-style:double;
}
