img {
    display: block;
    margin: auto;
    width: 40%;
}
body {
  font-family:Times,Arial,sans-serif;
  font-size:14px;
  background-color:#12607F;
}

h1 {
  font-family:'Diplomata SC',cursive !important;
  font-size:36px;
  text-align:center;
  color:white;
  border-style:double;
}

table {
   width: 80%;
   margin: auto;
   margin-top: 5px;
   border: 2px solid black;
   background-color:white;
 }

 th {
   font-size: 1.25em;
 }

 td {
   border: 1px solid black;
   text-align: center;
   font-size: 2em;
 }

 fieldset { border:2px solid white }

 legend {
   padding: 0.2em 0.5em;
   border:1px solid green;
   color:green;
   font-size:90%;
   text-align:right;
   }
